* {
    margin: 0px;
    padding: 0px;
    }
  
  body {
      /* background-image: url('images/grid-wallpaper.jpg');
      background-size: cover; */
      font-family: "Helvetica Neue";
      background-size: 90px 105px;
      background-image:
        linear-gradient(to right, #F5F5F5 1px, transparent 1px),
        linear-gradient(to bottom, #F5F5F5 1px, transparent 1px);
        overflow-x: hidden;
  }


  /* BOOTSTRAP NAV */
  /* code referenced from: https://codeconvey.com/navbar-transparent-to-solid-on-scroll/ */
.navbar:not(.arch-nav){
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #EFEFEF;
  }
  
  .nav{
    font-family: "Helvetica Neue";
  }
  
  .navbar-brand {
      margin-left: 3%;
  }
  .nav li{
    padding: 0px 20px 0px 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .nav li a {
    color: #363636;
  }
  
  .navbar-hide {
    pointer-events: none;
    opacity: 0;
  }
  
  .nav li:after{
    content: '';
    display: block;
    border-bottom: 2px solid #CAE234;
    font-weight: 700;
    transform: scaleX(0);
    transition: .2s ease-in-out;
    }
  
    .nav li:hover:after{
    transform: scaleX(1);
    }
  
    .active {
      font-weight: 700;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
      text-decoration-color: #CAE234;
    }
  
        body::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
  
    body::-webkit-scrollbar {
      width: 14px;
    }
  
    .icon-bar{
      background-color: #000;
    }
    
    body::-webkit-scrollbar-thumb{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
      background:  rgba(255, 255, 255, 0.75);
    }
  
    @media(max-width: 720px){
      body{
        background-size: 100% 100%;
      }
      .navbar-collapse{
      background: rgba(255, 255, 255, 0.75);
      }
    }

    /* HOME PAGE */

    .vertical-text {
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg); 
        font-size: 1.25vw;
        color:#766a8a;
        -webkit-transform: perspective(1px) translateZ(180);
        transform: perspective(1px) translateZ(180);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        padding: 1%;
    }

    .vertical-text:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    .contant-links {
        text-decoration: none;
    }

    /* circle */
    .circle {
        background: white;
        border: 1px solid #EBEBEB;
        margin-left: 15%;
        margin-top: 9%;
        height: auto;
        padding-top: 40%;
        width: 40%;
        border-radius: 50%;
        animation: 2s ease-out 0s 1 slide-in-fwd-center;
        /* display: relative; */
    }
    
      .circle:hover {
        box-shadow: 15px 20px 30px rgba(218, 218, 218, 0.2);
      }
    
      .name {
        font-family: "Butler";
        font-weight: 200;
        font-size: 6vw;
        color: #727272;
        margin-top:-70%;
        margin-left: 23%;
        max-height:100px;
        /* background-color: white; */
      }
    
      #text-under-name {
        margin-left: 30%;
        color: #242424;
        margin-top: -30px;
        background-color: #CAE234;
        padding: 0px 5px 1px 5px;
        border-radius: 2px;
      }

      /* .name:hover {
        font-size: 7vw;
      } */
    
      .line {
        height: 3px;
        background: #CAE234;
        margin-left: 23%;
        width: 70%;
      }
    
      .line:hover:after {
        content: "hello";
        background-color: white;
      }

      .text-expand {
          color:#74638f;
      }

      .div-hero {
          margin-bottom: 3%;
          overflow: hidden;
      }

      .project-preview-header {
        width: 100%;
        height: 100px;
        background-color: #F3F5F6;
        align-items: center;
        margin-bottom: 100px;
      }

      .project-preview-header a {
        text-decoration: none;
        font-size: 25px;
        font-family: "Helvetica Neue";
        color: #BDBDBC;
      }

      .project-preview {
        display: grid;
        grid-template-columns: 40% 50%;
        width: 90%;
        margin: auto;
        justify-content: center;
      }

      .mockup {
        width: 100%;
        height: auto;
      }

    /* code referenced from https://codepen.io/raf187/pen/BvgGRQ */
    .arrow{
        position: relative;
    }

    .arrow span{
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #916CF6;
        border-right: 2px solid #916CF6;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s 1;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
        }
    }

    .arrow span:hover {
        animation-play-state: paused;
        cursor: pointer;
        animation: hvr-hang;
    }


    /* TEXT STYLING */
    p {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 200;
        /* font-size: 18px; */
        line-height: 26px;
        background-color: white;
        color: #777777;
        /* margin-right: 20px; */
      }

    h2 {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: normal;
        font-size: 49px;
        line-height: 58px;
        letter-spacing: -0.055em;
        color: #575757;
        background-color: white;
        margin-bottom: 56px;
      }

      h4 {
        font-size: 2em;
        color:#916CF6;
        font-family: "Helvetica Neue";
        background-color: white;
      }
  
      h5 {
          background-color: white;
      }

      h6 {
        /* font-size: 1.25em; */
        color:#916CF6;
        background-color: white;
      }

      /* FOOTER */
      footer {
        background-color: white;
        overflow: hidden;
        text-align: center;
        width: 100%;
        margin-top: 70px;
      }

      footer p {
        font-size: 16px;
      }

      /* ARCHITECTURE PAGE */
      .flipbook {
        text-align: center;
        /* margin-top: 3%; */

      }

      .flipbook-div {
        margin-top: 100px;
      }

      .thesis-div {
          margin-top: 100px;
      }

      .gif {
          width: 100%;
      }

      .gif-div {
          margin-top: 90px;
      }

      .architecture-icons {
          width: 20%;
          max-width: 100px;
      }

      .architecture-icon-headings {
          color: #363636;
      }

      .arch-icons-div {
          margin-top: 65px;
      }

      .architecture-landing-card {
          margin-top: 200px;
      }

      .title-card {
          color: #BDBDBC;
      }

      .body-card {
        color: #363636;
      }

      #architecture-nav {
          margin-top: 5%;
      }

      .arch-nav-link {
          background-color: white;
          width:fit-content;
      }

      .arch-nav-a {
          margin-right: 20px;
          text-decoration: underline;
          text-decoration-color: #916CF6;
      }

      @media only screen and (max-width: 775px) {
        #architecture-nav {
          margin-top: 8%;
        }

        .architecture-icons {
          width: 10%;
        }
      }
    

      /* ANIMATIONS */

      .scale-up-center {
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

/* ----------------------------------------------
 * Generated by Animista on 2021-11-30 19:16:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.75);
              transform: scale(0.75);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.75);
              transform: scale(0.75);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-30 19:29:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }


  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2021-11-30 20:33:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
  #architecture {  
    animation: 1s ease-out 0s 1 fade-in;

  }

  #home {
    animation: 1s ease-out 0s 1 fade-in;
  }

  #about {
    animation: 1s ease-out 0s 1 fade-in;
  }
  
  /* .circle {
    animation: 2s ease-out 0s 1 slide-in-fwd-center;
  } */
  
  /* ABOUT */

  .potrait {
    transform: rotate(5deg);
  }

  .about-div-one {
    margin-top: 8%;
  }

  .about-div-two {
    margin-top: 8%;
    background-color: #524078;
  }

.text-no-bg {
  background-color: transparent;
  color: white;
}

.contact-links {
  color:#916CF6;
}
  
/* code from https://codepen.io/NilsWe/pen/FemfK */
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  max-width: 300px;
}

.timeline:before {
  position: absolute;
  /* left: 50%; */
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  /* margin-left: -3px; */
  background: rgb(228, 222, 222);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  padding: 6px 15px;
  border-radius: 5px; 
  font-weight: 600;
  text-align: left;
  color:white;
}


.direction-r .flag:before {
  position: absolute;
  top: 60%;
  right: -10px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #CAE234;
  border-radius: 10px;
  border: 4px solid #CAE234;
  z-index: 10;
}

.direction-r .flag:before {
  left: -5px;
}

.time-wrapper {
  /* display: inline; */
  line-height: 1em;
  font-size: 0.66666em;
  color: #CAE234;
  /* vertical-align:auto; */
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
}

.desc {
  /* margin: 1em 0.75em 0 0; */
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
  color:white;
  padding-left: 5px;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	/* padding: 4em 0 1em 0; */
  margin: 0px;
}

.timeline li {
	/* padding: 2em 0; */
}

.direction-r {
	float: left;
	width: 100%;
	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(177, 17, 17);
	z-index: 15;
}


.direction-r .flag:before {
  /* position: absolute;
  top: -30px; */
	/* left: 50%; */
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: rgb(190, 14, 14);
	border-radius: 10px;
	border: 4px solid #CAE234;
	z-index: 10;
}


.direction-r .flag:after {
	content: "";
	/* position: absolute;
	left: 50%; */
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(45, 175, 73);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}


.direction-r .time-wrapper {
	float: none;
}

/* .desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
} */


.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}


.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-1 0:18:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-cw
 * ----------------------------------------
 */

 @-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    opacity: 1;
  }
}


